:root {
  --text-color:rgb(238, 238, 238);
  --background-color:
  --accent-color:
}
*{
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: rgb(68, 68, 255);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu a {
  padding: 8px 12px;
}

.navbar__menu li :hover {
  background-color: rgb(68, 68, 255);
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding: 0px;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__togleBtn {
  display: none;
  position: absolute;
  right: 28px;
  color: rgb(68, 68, 255);
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__togleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
