* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#111425, #3751e0);
  background-attachment: fixed;
  overflow: hidden;
}

.moon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 13%;
  left: 54%;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 40px rgba(255, 255, 255, 1), 0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 30px rgba(255, 255, 255, 0.06);
}

.scene star {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: starAni linear infinite;
}

.bowl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: rgba(29, 53, 24, 0.2);
  border-radius: 50%;
  transform-origin: bottom center;
  box-shadow: 0 0 0 50px rgba(29, 165, 255, 0.1),
    0 0 0 100px rgba(29, 165, 255, 0.1), 0 0 0 150px rgba(29, 165, 255, 0.1),
    0 0 0 200px rgba(29, 165, 255, 0.1);
}

.fish {
  position: relative;
  width: 40px;
  top: 100px;
  z-index: 10;
  animation: fishAni 8s linear infinite;
}

.fish2 {
  top: 150px;
  transform: scaleX(-1);
  animation: fish2Ani 10s ease-in infinite;
}

.fish_mask {
  position: relative;
  top: 250px;
  left: 10px;
  width: 480px;
  height: 230px;

  clip-path: circle(65% at 50% 0);
}

.water {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #2190f8;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  transform-origin: top center;
  animation: waterAni 5s ease-in-out infinite;
}

.water:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  border-radius: 50%;
  background: rgb(32, 99, 223);
}

@keyframes starAni {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes waterAni {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fishAni {
  0% {
    left: -40px;
  }
  50% {
    left: 500px;
  }
  100% {
    left: 500px;
  }
}

@keyframes fish2Ani {
  0% {
    left: 500px;
  }
  50% {
    left: -40px;
  }
  100% {
    left: -40px;
  }
}
